/* You can add global styles to this file, and also import other style files */

.preview-card {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.text-main {
    color: #1f2459
}

.text-thirdy {
    color: #f9f9f9;
}

.bg-main {
    background-color: #1f2459;
}

.bg-secondary {
    background-color: #438b6d;
}

.bg-thirdy {
    background-color: #f9f9f9;
}